@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scroll-snap-container {
    scroll-snap-type: y mandatory;
  }
  
  .scroll-snap-child {
    scroll-snap-align: start;
  }